# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Helm
charts/*.tgz
Chart.lock

# Python
__pycache__/
*.pyc
.env
.venv/

# Ansible
*.retry

# Antora local generate (site-ci.yml / site.yml)
www/
.cache/
